*{
  margin: 0; padding: 0; box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
:root{
  font-size: 62.5%;
  --ff-main: 'Poppins', sans-serif;
  --clr-main: hsl(283, 47%, 73%);
  --clr-sec: hsl(0, 0%, 100%);
}
body{
  font-family: var(--ff-main);
  display: flex; flex-direction: column; align-items: center;
  background: rgb(22, 21, 22);
}
h1{
  margin-top: 2rem;
  text-transform: uppercase; font-weight: 400; color: var(--clr-main);
  font-size: 3.6rem;
}
.hide{
  visibility: none; display: none;
}
div{
  display: flex; flex-direction: column; align-items: center; margin-bottom: 3rem;
  animation: baixo-cima 1000ms ease-in-out;
}
img{
  width: 80%; height: 80%; border-radius: 1.6rem;
  filter: drop-shadow(0 6rem 4rem rgba(24, 23, 24, 0.15));
}

img.firstPhoto{
  margin-block: 2rem;
}
p{
  padding-inline: 4rem; font-size: 1.6rem; color:var(--clr-sec); text-align: center;
  animation: cima-baixo 1000ms ease-in-out;
}
.emoji{
  width: 1.6rem; height: 1.6rem;
}
h2{
  text-align: center; padding-inline: 3rem;
  color: rgb(226, 43, 165);
}

@keyframes baixo-cima{
  0%{
    transform: translateY(20rem);
  }
  100%{
    transform: translateY(0);
  }
}
@keyframes cima-baixo{
  0%{
    transform: translateY(-40rem);
    opacity: 0;
  }
  75%{
    opacity: 0;
  }
  100%{
    transform: translateY(0)
  }
}